<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <main class="container my-3">
    <h2 class="display-4 text-center">Thank You</h2>
    <h3 class="display-3 text-center">...GoodBye</h3>
  </main>

  <%- include("../partials/scripts.ejs")%>
</body>

<%- include("../partials/end.ejs") %>