<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <main class="container my-3">
    <h2 class="display-4 text-center">Please Log In...</h2>
    <div class="col-6 offset-3">
      <form class="form-group" method="POST"  action="/auth/reset">
        <label for="Email">Email</label>
        <input type="email" name="email" class="form-control" id="email" />
        
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        <button type="submit" class="btn btn-success mt-3">Reset</button>
      </form>
    </div>
  </main>

  <%- include("../partials/scripts.ejs")%>
</body>
</html>