<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <main class="container my-3">
    <div class="col-6 offset-3">
      <form class="form-group" action="/admin/add-product" method="POST">
        <label for="title">Product Title</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="Enter a Product">

        <label for="imageUrl">ImageUrl</label>
        <input type="text" name="imageUrl" class="form-control" id="imageUrl" placeholder="Enter a image Url">
        
        <label for="price">Price</label>
        <input type="text" name="price" class="form-control" id="price" placeholder="Enter a Price">
        
        <label for="description">Description</label>
        <textarea class="form-control" name="description" id="description" rows="5"></textarea>
        <button type="reset" value="reset" class="btn btn-danger mt-2">Reset</button>
        <button type="submit" class="btn btn-success mt-2">Submit</button>
      </form>
    </div>
  </main>
  <%- include("../partials/scripts.ejs")%>
</body>

<%- include("../partials/end.ejs") %>