<%- include("../partials/head.ejs")%>
<%- include("../partials/nav.ejs")%>
<main class="container">
  <h1>Admin/Edit Products Page</h1>
</main>
<%- include("../partials/scripts.ejs")%>
<%- include("../partials/end.ejs")%>