<%- include("partials/head.ejs") %>

<body>
  <%- include("partials/nav.ejs") %>

  <main class="container">
    <div class="col-6 offset-3">
      <form class="form-group" action="/admin/redirect" method="POST">
        <label for="title">Product</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="Enter a Product">
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
      </form>
    </div>
  </main>

</body>

<%- include("partials/end.ejs") %>