<%- include("../partials/head.ejs") %>

<body> 
 <%- include("../partials/nav.ejs") %>
  <main>
    <div class="container text-center">
      <h1>404 - PAGE NOT FOUND</h1>
      
    </div>
  </main>
  <%- include("../partials/scripts.ejs")%>
</body>
<%- include("../partials/end.ejs") %>