<%- include("../partials/head.ejs")%>
<body>
<%- include("../partials/nav.ejs")%>
<main class="container">
  <div class="jumbotron my-4">
    <h1 class="display-4">Welcome!!!</h1>
    <h3 class="lead">This is a BRANCH site for a <code>Node.js</code> App </h3>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum odio ex maiores libero quidem excepturi, alias minus inventore reiciendis optio rerum deserunt dignissimos sunt suscipit dolorum asperiores cumque ducimus, numquam distinctio ipsam maxime voluptatem, ratione voluptas nisi! Sed perspiciatis quasi, delectus reiciendis aperiam officia. Similique explicabo ducimus nihil neque voluptatum!</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus consequuntur, quos expedita totam, velit commodi est eligendi hic dolor fugiat temporibus nobis repellendus consectetur magni praesentium aliquid id dolores accusamus modi eius illo? Ipsam, autem? Voluptatum at eius consequuntur, debitis dolorem ullam repellendus beatae voluptatibus libero, id animi fugiat, ab unde eaque vitae tempore doloremque magnam nihil sed assumenda modi sint! Nemo adipisci necessitatibus perspiciatis sequi cum ea asperiores doloremque aut omnis dolores temporibus itaque dolor, labore odit alias earum iure neque quia corporis debitis dolore quaerat. Id, quod cumque similique deleniti vel tenetur laboriosam corporis. Maiores doloremque maxime necessitatibus?</p>
  </div>
</main>
<%- include("../partials/scripts.ejs")%>
</body>
</html>